.reader-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;

  .header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .form-field {
    display: flex;
    align-items: center;
    justify-content: center;

    .chakra-input {
      width: 60px;
      text-align: center;
    }
  }
}