.sidebar {
  display: flex;

  .navigation-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60px;
    border-right: 1px solid var(--chakra-colors-teal-500);
  
    .nav-item {
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
  
      &.active {
        background: var(--chakra-colors-teal-500);
  
        svg {
          color: var(--chakra-colors-white);
        }
      }
    }
  }
  .sidebar-content {
    width: 200px;
    height: 100%;
    border-right: 1px solid var(--chakra-colors-teal-500);

    .list-item {
      width: 100%;
      min-height: 60px;
      display: flex;
      justify-content: left;
      padding: 15px;
    }
  }
}