.reader-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 50px);

  .page-wrapper {
    width: 80%;
  }
  .bookmarks-wrapper {
    width: 10%;
    height: 100%;
  }
  .notes-wrapper {
    width: 10%;
    height: 100%;
  }
}

.bookmark {
  width: 100%;
  height: 30px;
  background: yellow;
}
